#home {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    width: 40px;
    background-color: wheat;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
#titulek {
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid;
    width: 240px;
    background-color: wheat;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    position: relative; left: 50%; transform: translateX(-50%); 
}
#description {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative; left: 50%; transform: translateX(-50%); 
}
#cakeimg {
    position: relative; left: 50%; transform: translateX(-50%); 
    border: 4px solid;
    border-color: wheat;
    
}
.smallhead {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    width: 110px;
    background-color: wheat;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: relative; left: 50%; transform: translateX(-50%); 
}
.paradesc {
    text-align: center;
    position: relative; left: 50%; transform: translateX(-50%); 
}
.ul {
    margin: auto;
    width:60%;
    position: relative; left: 50%; transform: translateX(-50%); 
}
.stepy {
    margin: auto;
    width:65%;
    position: relative; left: 50%; transform: translateX(-50%); 
} 